
<div class="container">
    <div class="row">        
        <div class="col-sm-12">
            <ngb-alert [dismissible]="true" [type]="alertType" *ngIf="message">
                {{message}}
            </ngb-alert>
            <div class="text-right">
                <button *ngIf="currentUser != null" class="btn btn-warning" (click)="open(addnews)">Add News</button>
            </div>
            <br />
            <ng-container *ngFor="let news of allNews">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{news.Title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">In {{news.Category}} by @{{news.TableUser.Username}} on {{news.PostedDate}}</h6>
                        <p class="card-text">{{news.Exerpt}}</p>
                        <a href="{{news.Source}}" class="card-link" target="_blank">Source: {{news.Source}}</a>&nbsp;
                        <div *ngIf="currentUser != null" >
                            <a *ngIf="news.TableUser.UserId == currentUser.UserId" href="{{news.TableUser.UserId}}" class="card-link text-info" target="_blank">Edit</a>
                        </div>
                    </div>
                </div><br />
            </ng-container>
        </div>
    </div>
</div>

<ng-template #addnews let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add News</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-alert [dismissible]="true" [type]="alertType" *ngIf="message">
            {{message}}
        </ngb-alert>
        <form #newsForm="ngForm" (ngSubmit)="onAddNewsSubmit()" novalidate>
            <div class="form-group">
                <label for="title">News Title:</label>
                <input type="text" [(ngModel)]="newsUpdate.Title" name="Title" class="form-control" required #title="ngModel" />
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="excerpt">News Body:</label>
                <textarea [(ngModel)]="newsUpdate.Exerpt" name="Excerpt" class="form-control" required #exerpt="ngModel"></textarea>
                <div *ngIf="exerpt.invalid && (exerpt.dirty || exerpt.touched)" class="text-danger">
                    News body is required.
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="category">Category:</label>
                    <select [(ngModel)]="newsUpdate.Category" name="Category" class="form-control" required #category="ngModel">
                        <option>--Select Category--</option>
                        <option value="Bollywood">Bollywood</option>
                        <option value="Hollywood">Hollywood</option>
                        <option value="Politics">Politics</option>
                        <option value="General">General</option>
                        <option value="People">People</option>
                        <option value="Health">Health</option>
                    </select>
                    <div *ngIf="category.invalid && (category.dirty || category.touched)" class="text-danger">
                        category is required.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="region">Region:</label>
                    <select [(ngModel)]="newsUpdate.Region" name="Region" class="form-control" required #region="ngModel">
                        <option>--Select Category--</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Telangana">Telangana</option>
                    </select>
                    <div *ngIf="region.invalid && (region.dirty || region.touched)" class="text-danger">
                        region is required.
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <label for="source">News Source Url:</label>
                <input type="text" [(ngModel)]="newsUpdate.Source" name="Source" class="form-control" required #source="ngModel" />
                <div *ngIf="source.invalid && (source.dirty || source.touched)" class="text-danger">
                    source is required.
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="newsForm.invalid">Add News</button>
        </form>
    </div>
</ng-template>